<!DOCTYPE html>
<html>
  <head>
    <title>Gym</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="icon" href="../images/logo.ico" type="image/x-icon">
  </head>
  <body>
    
    <header class="encabezado">
      <h1 class="titulop">Get Phisycal Gym</h1>
    </header>
    
    <section class="contenidop">
      
      <div class="cont"> 
        <h2>Nosotros</h2>
        <br>
        <p>Get Phisycal Gym ofrecemos un ambiente de bienestar donde usted pueda realizar diversos tipos de actividades fisicas y asi mantenerse saludable tanto mental como fisicamente, nuestra mena es sacar lo mejor de usted. </p> <br><img src="../images/segundai.jpg" alt=""> 
      </div>
      <div class="cont">
        <h2>Servicios</h2>
        <br>
        <p>Get Phisycal Gym te ofrece los mejores servicios para que tu cuerpo se sienta bien.
        Contamos con membresias y clases personalizadas, cafetin, sauna, duchas, comedor, atencion nutricional, salon de yoga, bailoterapias y mas.
        por un modico precio de 35$ al mes. </p> <br><img src="../images/primerai.jpg" alt="">
      </div>
      <div class="cont"> 
        <h2>Beneficios y Ventajas</h2>
        <br>
        <p>La actividad fisica ayuda tu cuerpo a mantenerse sano y fuerte. A mantener una mente libre de cualquier tipo de estres, te permite encontrar ese escape a la realidad,
        ademas de que te ayuda a mejorar tu calidad de vida sin duda alguna somos tu mejor aliado para lograr cambiar tu estilo de vida y llenarla de beneficios. </p> <br><img src="../images/tercerai.jpg" alt="">
      </div>

    </section>

    <footer class="footer">
      <p>Desarrollado por Yhadiel Copyright &copy; 2024</p>
      <p>Contacto:</p>
      <p>Email:<a href="mailto:yhadiel@yopmail.com">yhadiel@gmail.com</a></p>
      <p>Telefono:0412-569-8963</p>
    </footer>

  </body>
</html>
